body {
  color: #414141;
  background-color: #ffcfcc;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

a {
  text-decoration: none;/* remove underline*/
}

p {
  text-align: left;
}

ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fc5f53;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #ff3324;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title_name{
  font-size: 60px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #333;
  padding: 50px;
}

#color_text{
  color: blueviolet;

}